# Python
__pycache__/
*.pyc

# Virtual environment
hotelbot/
venv/
env/
Lib/
Scripts/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite

# Project data
uploads/
dataset/
static/checkins/
temp_checkins/